blinker==1.9.0
chardet==5.2.0
click==8.1.7
colorama==0.4.6
Flask==3.1.2
greenlet==3.2.4
gunicorn==21.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.2.1
packaging==25.0
pandas==2.2.3
pillow==10.4.0
psycopg2-binary==2.9.11
py==1.11.0
python-dateutil==2.9.0.post0
pytz==2024.2
reportlab==4.2.5
setuptools==75.8.0
six==1.17.0
svgwrite==1.4.3
Tree==0.2.4
typing_extensions==4.15.0
tzdata==2024.2
Werkzeug==3.1.3
