{% extends "base.html" %}
{% block content %}
    <h2>Chi sono</h2>
    <p>
      Sono uno sviluppatore junior con una formazione presso <strong>ITS ICT Academy Roma</strong>
      e un background in <strong>Full Stack Web Development</strong> maturato nel corso
      <strong>Aulab Coding Bootcamp</strong>.
    </p>
    <p>
      Mi appassiona costruire applicazioni web scalabili e ben strutturate, combinando
      <strong>Python</strong>, <strong>Flask</strong> e <strong>JavaScript</strong> con
      buone pratiche di progettazione software.  
      Credo nel lavoro di squadra, nella condivisione delle conoscenze e nel miglioramento continuo.
    </p>
    <p>
      Durante il mio percorso ho sviluppato competenze anche in <strong>PostgreSQL</strong>,
      <strong>Bootstrap</strong> e <strong>React</strong>, esplorando la logica e l’organizzazione dei
      dati con un approccio analitico.
    </p>
    <p>
      Fuori dal codice, mi piace mantenermi attivo tra <strong>sport</strong>, <strong>lettura</strong> e
      tecnologia — strumenti che mi aiutano a restare curioso e motivato.
    </p>

<section class="cv-download">
  <h3>Vuoi saperne di più su di me?</h3>
  <p>Scarica il mio curriculum aggiornato:</p>

  <a href="{{ url_for('static', filename='files/cv_Grappasonni.pdf') }}"
     class="btn-primary"
     download>
     <i class="fa-solid fa-file-arrow-down"></i> Scarica CV (PDF)
  </a>
</section>

{% endblock %}
