{% extends "base.html" %}
{% block content %}

<!-- 🔹 HERO SECTION -->
<section class="hero">
    <div class="hero-text">
        <h1>Esubalew Grappasonni</h1>

<p>
  Ciao sono <strong>Esu</strong>, studente in 
  <strong>Data Analysis & Artificial Intelligence</strong> 
  presso ITS ICT Academy Roma, con un background in sviluppo Full Stack (Aulab, 2023).
  Ho una forte curiosità tecnica e una mentalità orientata ai dati: 
  mi piace capire come funzionano le cose, non solo applicarle.
  Sto completando il percorso ITS e mi avvicino al tirocinio aziendale 
  con l'obiettivo di continuare a crescere nel mondo dell'<strong>AI e dell'informatica</strong>, 
  anche attraverso un percorso universitario.
</p>

      
        <a href="{{ url_for('show_projects') }}" class="btn-primary">Repository Lezioni Its</a>
    </div>
    <div class="hero-image">
        <img src="{{ url_for('static', filename='img/foto_Me.png') }}" alt="Foto profilo">
    </div>
</section>

<!-- 🔹 SEZIONE PROGETTI -->
<!-- <section class="projects-preview">
    <h2> Progetti recenti</h2>
    <div class="projects-grid">
        {% for p in projects %}
        <div class="project-card">
            <h3>{{ p.title }}</h3>
            <p>{{ p.description }}</p>
            <a href="{{ p.link }}" class="btn-secondary">Vedi progetto</a>
        </div>
        {% endfor %}
    </div>
</section> -->

{% endblock %}
