{% extends "base.html" %}
{% block content %}

<!-- 🔹 HERO SECTION -->
<section class="hero">
    <div class="hero-text">
        <h1>Ciao, sono <span class="accent">Esu</span> </h1>
        <p>Studente presso <strong>ITS ICT Academy Roma</strong>, con una forte inclinazione per lo
      sviluppo <strong>back-end</strong> e una passione per la programmazione a oggetti.  
      Mi dedico a creare applicazioni web semplici, funzionali e ben strutturate, con una particolare attenzione
      alla chiarezza del codice e alla crescita personale continua.</p>
      
        <a href="{{ url_for('show_projects') }}" class="btn-primary">Repository Lezioni Its</a>
    </div>
    <div class="hero-image">
        <img src="{{ url_for('static', filename='img/foto_3.JPG') }}" alt="Foto profilo">
    </div>
</section>

<!-- 🔹 SEZIONE PROGETTI -->
<!-- <section class="projects-preview">
    <h2> Progetti recenti</h2>
    <div class="projects-grid">
        {% for p in projects %}
        <div class="project-card">
            <h3>{{ p.title }}</h3>
            <p>{{ p.description }}</p>
            <a href="{{ p.link }}" class="btn-secondary">Vedi progetto</a>
        </div>
        {% endfor %}
    </div>
</section> -->

{% endblock %}
